:root {
    --primary_colour: #067C5A;
    --accent_colour: #fae3ad;
    --secondary_colour: #F7B011;
}

body {
    font-family: Questrial, sans-serif;
    height: 100vh;
}

h1, h2, h3, a, footer {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, a {
    font-weight: 400;
    font-size: 1.3rem;
}

ul {
    list-style: none;
    padding: 0;
}


/*Header and navigation styling*/

header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary_colour);
    color: white;
    width: 100%;
}

#header_title {
    display: flex;
    justify-content: start;
    flex: 2
}

#header_title img {
    width: 60px;
    border-radius: 8px;
    padding: 5px;
}

header h2 {
    align-self: center;
    text-align: center;
    padding: 10px;
}

#header_title div {
    display: grid;
}

#header_title * {
    justify-self: center;
}

#menu, .theme, .theme_mobile {
    color: white;
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    align-items: center;
}

.theme, .theme_mobile {
    width: initial;
    display: flex;
}

#menu::before {
    content: "≡";
}

.theme::before, .theme_mobile::before {
    content: "◑";
}

#menu.show::before {
    content: "X";
}

.active::before {
    content: "";
    bottom: -3px;
    border-bottom: solid thin;
    width: 100%;
    display: block;
    position: absolute;
}

nav {
    flex: 1 1 100%;
    color: white;
    align-items: center;
}

nav ul {
    margin: auto;
    padding: 0;
}

nav ul li {
    flex: 1 1 100%
}

nav ul li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    transition: 300ms;
    font-size: 1rem;
    position: relative;
}

.navigation {
    display: none;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: solid #FFF;
}

.navigation li a:hover, .active {
    color: var(--secondary_colour);
}

.navigation.show {
    display: flex;
}

.show li {
    display: block;
    margin: 5px 0;
}

/* main content styling */

main {
    max-width: 1280px;
    display: grid;
    margin: auto;
    grid-template-areas:
            "h1"
            "section1"
            "section2"
            "section3";
}


h1 {
    grid-area: h1;
    text-align: center;
}

.main_descendents {
    justify-self: center;
}

/* hero section styling */

.hero_section {
    grid-area: section1;
}

.hero {
    position: relative;
    max-width: 1280px;
    padding: 10px 10px 0 10px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border: solid thin lightgray;
    border-radius: 10px;
}

/** Home cards styling */

.home_section {
    grid-area: section2;
    display: grid;
    gap: .75rem;
    grid-template-areas:
            "h2"
            "div1"
            "div2"
            "div3";
    padding: 15px;
    grid-template-columns: 1fr;
    width: -webkit-fill-available;
}

.home_section h2 {
    font-weight: 600;
    grid-area: h2;
}

/* events styling */

.home_card:nth-child(2) {
    grid-area: div1;
}

.events {
    min-height: 200px;
}

/* current weather card styling */

.home_card:nth-child(3) {
    grid-area: div2;
}

.current_weather_card {
    display: grid;
    grid-template-columns: auto 1fr;

    grid-template-rows: auto 1fr;
}

.current_weather_card h3 {
    grid-area: h3;
    grid-column: span 2;
    grid-row: span 1;
}

.current_weather_card img {
    grid-area: img;
    width: 40px;
    padding: 10px;
    grid-column: span 1;
}

.current_weather_card ul {
    font-family: "Montserrat", sans-serif;
    grid-area: ul;
    font-weight: 400;
    grid-column: span 2;
}

.current_weather_card ul li {
    margin: 3px 0;
}

/* weather forecast styling */

.home_card:nth-child(4) {
    grid-area: div3;
}

.weather_forecast ul {
    padding: 0 10px;
}

.weather_forecast ul li {
    margin: 10px 0;
}

.home_card {
    border: solid thin lightgray;
    border-radius: 3px;
    width: 100%;
}

.home_card h3 {
    font-weight: 500;
    font-size: unset;
    background-color: var(--secondary_colour);
    padding: 5px;
}

/* chamber members styling */

.members_section {
    grid-area: section3;
    display: grid;
    grid-template-columns: 1fr;
    gap: .75rem;
    width: -webkit-fill-available;
    padding: 15px;
}

/** line-view */
.members_section.line_view {
    display: grid;
}

.members_section.line_view .members_card {
    margin: unset;
}

.members_section button {
    display: none;
}

.members_card {
    display: grid;
    background-color: var(--accent_colour);
    border-radius: 10px;
    width: 100%;
}

.members_card h2 {
    text-align: center;
    padding: 5px;
    font-size: 1.1rem;
}

.members_card sub {
    text-align: center;
    top: unset;
    border-bottom: solid thin white;
    padding: 5px 5px 10px;
}

.members_card figure {
    display: grid;
    gap: .75rem;
    grid-template-areas:
            "img caption caption caption";
}

.members_card figure img {
    grid-area: img;
    align-self: center;
    width: 50px;
    border-radius: 4px;
}

.members_card figure figcaption {
    grid-area: caption;
    align-self: center;
}

.members_card figure figcaption ul {
    width: unset;
}

.members_card figure figcaption ul li {
    word-break: break-all;
    margin: 5px 0;
}

.members_card figure figcaption ul li a {
    font-size: unset;
    text-decoration: underline;
    color: unset;
}

/* footer styling */

footer {
    background-color: var(--primary_colour);
}

#footer_wrapper {
    color: white;
    padding: 40px;
    flex-direction: column;
    display: flex;
    grid-area: footer;
    align-items: center;
}


#footer_wrapper section {
    flex: 1;
    width: 100%;
}

#footer_wrapper section:nth-child(2) {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer_wrapper section:nth-child(2) div {
    width: 40px;
    height: 40px;
}

#footer_wrapper section:nth-child(2) div img {
    width: 100%;
}


main.join {
    grid-template-areas:
    "h1" "section" "section";
    grid-template-columns:1fr;
    gap: 20px;
}

.join h1{
    grid-column:span 1;
    grid-area:unset;
    padding:25px;
}
main.join section {
    padding: 20px;
}

.join section form fieldset {
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    border: var(--secondary_colour) solid 2px;

}

.join form div {
    display: grid;
    margin: 10px 0;
}

.join form div label {
    margin: 5px;
}


.join form div input:not([type="radio"]), select, textarea, button {
    padding: 10px;
    border-radius: 3px;
    border: solid 2px var(--accent_colour);
}

.levels {
    display: grid;
    align-content: start;
}

.levels h2 {
    justify-self: center;
    font-weight: 500;
    margin-bottom: 20px;
}

.type {
    display: grid;
    grid-template-columns: auto 1fr;
    height: fit-content;
    background: var(--accent_colour);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;

}

.type img {
    width: 40px;
    align-self: center;
    padding: 0 20px;
    position: relative;
    border-right: solid medium white
}

.type div {
    display: grid;
}

.type h3 {
    justify-self: center;
    padding: 5px;
    text-align: center;
    font-size: 1.1em
}

.type button {
    justify-self: center;
    width: unset;
    margin: unset;
    background: unset;
    border: unset;
    background: var(--secondary_colour);
    font-size: unset;
    border: unset;
    color: unset;
}


button {
    margin: 1rem 0;
    width: 100%;
    background: var(--primary_colour);
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: var(--secondary_colour);
    color: unset;
}

.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 500ms;
    animation-delay: 100ms;
}

@keyframes fadeInDown {
    0% {
        transform: translateY(-50px);
        opacity: 0;
        will-change: transform;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        will-change: transform;
    }
}

.modal {
    padding: 1em;
    max-width: 50ch;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
}

.modal h2 {
    margin-top: 30px;
}

.modal::backdrop {
    background: rgb(0 0 0 / 0.5);
}

.close-button {
    position: absolute;
    top: -16px;
    right: 0;
    border: none;
    background: unset;
    width: 50px;
}

.close-button:hover {
    background: initial;
}

dialog {

    border-radius: 10px;
    border: 1px solid rgb(0 0 0 / 0.1);
}

.level_benefits li {
    margin: 5px 0
}

.verify {
    justify-self: center;
    padding: 20px;
    border-radius: 5px;
    background: var(--secondary_colour);
    margin: 40px;
    max-width: 50ch;
}

.verify li {
    margin: 5px 0;
}

.verify p {
    margin: unset;
}

h1.veri {
    padding: 20px;
}

h2.veri {
    justify-self: center;
    font-size: 1.1rem;
}


