@media screen and (min-width: 64rem) {

    .hero img {
        border-radius: 100px;
    }

    .home_section {
        grid-template-areas: "h2 h2 h2 h2 h2"
            "div1 div1 div1 div2 div3";
        max-width: 1140px;
    }

    .members_section {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1140px;
    }

    .members_card figure {
        gap: .25rem;
        grid-template-areas:
            "img caption caption caption";
    }

    .members_card figure * {
        justify-self: unset;
    }

    .members_card figure figcaption ul {
        width: unset;
    }
}