@media screen and (min-width: 31.25rem) {
    header {
        flex-wrap: unset;
        justify-content: space-between;
    }

    header div {
        flex: unset;
        #flex: 1;
    }

    #menu {
        display: none;
    }

    nav {
        max-width: 358px;
        flex: 1 1 100%;
    }

    .navigation {
        display: flex;
        flex-wrap: unset;
        border: none;
    }

    .hero img {
        border-radius: 50px;
    }

    .home_section {
        grid-template-areas:
                "h2 h2 h2 h2"
                "div1 div1 div1 div1"
                "div2 div2 div3  div3";
        max-width: 640px;
    }

    .members_section {
        grid-template-columns: repeat(2, 1fr);
        max-width: 640px;
    }

    .members_card figure {
        gap: unset;
        grid-template-areas:
            "img"
            "caption";
    }

    .members_card figure * {
        justify-self: center;
    }

    .members_card figure figcaption ul {
        width: 158px;
    }
}