:root {
    --primary_colour: #067C5A;
    --accent_colour: #fae3ad;
    --secondary_colour: #F7B011;
}

body {
    display: grid;
    grid-template-rows: auto  1fr auto;
    grid-template-columns: 1fr .5fr;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";
    height: 100vh;
    margin: 0;
    font-family: Questrial, sans-serif;
}

h1, h2, h3, a, footer {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, a {
    font-weight: 400;
}

header {
    grid-area: header;
    background-color: var(--primary_colour);
    color: white;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "div"
    "nav";
}

header div {
    grid-area: div;
    display: flex;
    justify-content: center;
}

header div img {
    width: 80px;
    border-radius: 100%;
    padding: 5px;
}

header h2 {
    align-self: center;
    text-align: center;
    grid-area: h2;
    padding: 10px;
    font-size: 1.5rem;
}

nav {
    grid-area: nav;
    color: white;
    background-color: black;
    align-items: center;
}

.navigation {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    flex: 1 1 100%;
}

nav ul li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    padding: 0.75rem;
    font-weight: 600;
    transition: 300ms;
}

.navigation li a:hover, .active {
    color: var(--secondary_colour);
}

#menu {
    display: none;
}

.active::before {
    content: "⟩";
    padding: 0 5px;
    position: relative;
    top: -2px;
}

main {
    grid-area: main;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    max-width: 1024px;
    justify-self: center;
}

main h1 {
    grid-column: 1 / 5;
}

.card {
    border: solid thin gainsboro;
    border-radius: 5px;
    display: grid;
}

.card:nth-child(2) {
    grid-column: 1 / 4;
}

.card:nth-child(4) {
    grid-column: 1 / 5;
}

h2 {
    background-color: var(--primary_colour);
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 1.2rem;
    height: min-content;
    padding: 5px;
}

h3 {
    padding: 10px;
    border-bottom: solid thin gainsboro;
    width: 80%;
    margin-left: 10px;
}

article {
    padding: 10px;
    display: grid;
}

.article_2 {
    grid-template-columns: .5fr 1fr;
}

.article_2 img {
    width: 150px;
    border-radius: 5px;

}

.article_2 figcaption, .article_2 p {
    align-self: center;
    justify-self: center;
}

.article_2 figcaption {
    font-size: 12px;
    text-align: center;
}

.card ul {
    height: 100%;
    align-self: center;
}

.card ul li {
    padding: .75px;
    margin: .75px;
    font-size: 1.1rem;
}

.courses {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "h2"
    "ul"
    "section"
    "p";
}

.courses h2 {
    grid-area: h2;
}

.courses ul {
    display: flex;
    grid-area: ul;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    border-bottom: solid thin var(--accent_colour);
}

.courses ul li {
    margin: 5px;
    align-self: center;

}

.courses ul li button {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--secondary_colour);
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: unset;
}

.courses ul li button.selected {
    background-color: black;
    color: white;
}

.courses section {
    display: grid;
    grid-area: section;
    grid-template-columns: repeat(3, 1fr);
}

.courses section div {
    align-self: center;
    justify-self: center;
}

#course_container div {
    padding: .75rem;
    border-radius: 4px;
    margin: .75rem;
    background-color: var(--secondary_colour);
    width: 8em;
    text-align: center;
    font-weight: 600;
    cursor: default;
}

#course_container div span {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    border: solid medium var(--primary_colour);
    border-radius: 100%;
    margin: 0 5px;
    color: black;
    font-weight: 900;
}

.courses p {
    grid-area: p;
    justify-self: center;
    font-weight: 900;
}

footer {
    grid-area: footer;
    background-color: var(--primary_colour);
    color: white;
    text-align: center;
    padding: 10px;
}

@media only screen and (max-width: 64em) {
    main {
        max-width: 40em;
    }

    nav ul li a {
        width: unset;
    }
}